
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,500&display=swap');
/* #956337 color */

* {
  font-family: 'Source Sans 3', sans-serif;
}
.nerodyti{
  display: none !important;
}

.img-cart {
  height: 8.5em;
}

.img-article {
  height: 9em;
}
.img-home {
  height: 11em;
}

.img-modal {
  height: 4.5em;
}

.pointer {
  cursor: pointer;
}

.table-is-selected:hover {
  background-color: #3a88e5;
  color: #fff;
}

.line-through {
  text-decoration: line-through;
}

.bg {
  background-color: #CA9A6F;
}

.card-home {
  background-color: #BE834F !important;
  border-top-left-radius: 10em !important;
  border-start-end-radius: 10em !important;
  border-end-start-radius: 5em !important;
}

.nav-color{
  background-color:    #A56D3D !important;
  
}

.navbar-item:hover,.navbar-item:focus {
  background-color: #B57843 !important;
}


.btn-prim {
  background-color: #D6B08F !important;
  border-color: #402A18 !important;
}
.btn-prim:hover{
  background-color: #C48E5F !important;
}

.card-categories {
  border-color: #402A18 !important;
  background-color: #BE834F !important;
}

.card-footer {
  border-top: 1px solid #6A4727 !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}